<div class="big__card">


    <div class="text_card">

        <div class="card__header">

                <h1>Olá, sou Desireê Costa!</h1>
                <h1><span> {{ textoAtual }}</span></h1>

                <br>

        </div>

        <div class="card__info">


                <p>Prazer! <br>

                Graduanda em Análise e Desenvolvimento de Sistemas <br>

                Interesses em desenvolvimento Front-end com Angular, TypeScript e JavaScript. <br>
            </p>

        <div class="card__tecs">
                
         <img src="/src/assets/my-pic.png" alt="" srcset="">
                


        </div>
            
        </div>


     </div>

    <div class="pic-card">

        <img src="\assets\my-pic.png">

        
     <div class="btn"> 

        <a href="#">Vamos Conversar!</a>
                
         <a id="cv" href="#">CV</a>
                
                
     </div>

    </div>
        
 
</div>


    
    

    



