<div class="container-projects">

    <div class="cont_card">

        <div class="txt">
            <h1>Projetos</h1>
        </div>
    
        <div class="projects_cards">
            

            <img src="{{icon}}" alt="" srcset="">

            <a href="{{project}}"> 
                <h2>{{title}}</h2>
                <p>{{description}}</p>
            </a>
        </div>

        <div class="projects_cards">
            

            <img src="{{icon}}" alt="" srcset="">

            <a href="https://angular-clone-buzz-feed-topaz.vercel.app/"> 
                <h2>BuzzFeed</h2>
                <p>Diretivas Angular, Binding, lógica.</p>
            </a>


        </div>

        <div class="projects_cards">
            

            <img src="{{icon}}" alt="" srcset="">

            <a href="#"> 
                <h2>Em construção</h2>
                <p>Estou trabalhando em novos projetos...</p>
            </a>


        </div>
        
    </div>

    

</div>

