<div class="container__skills">

    <div class="title__skills">

        <h2>Sobre mim:</h2>

    </div>

    <div class="description__skills">

        <p>Desde criança sempre gostei muito de usufruir da tecnológia, cresci apaixonada pelo meio.
            Com o privilegio de acompanhar muitos avanços, mas não tinha ideia que poderia contribuir ativamente para a evolução de tal.
                iniciei os estudos por curiosidade, através de pesquisas pessoais, ao me identificar comecei a investir, através de cursos, bootcamps e no momento estou cursando ADS.
            Hoje a programação é um exercicio diário, tem sido enriquecedor para além da programação em sí. 
            Sou uma pessoa muito disciplinada, então vejo que os esforços cotidianos contribuem para a evolução constante, 
            gosto de desafios e me sinto empolgada diante deles, pois, sei que são estes que nos fazem aprender ainda mais.
             
        </p>

    </div>
    <div class="card__skills">

        <h3>Hard Skills</h3>

        <div class="card__hard">

        
        <div class="small_card">
            <img src="https://cdn-icons-png.flaticon.com/128/174/174854.png" alt="" srcset="">
            <span>HTML</span>
            
        </div>

        <div class="small_card">
            <img src="https://cdn-icons-png.flaticon.com/128/732/732190.png" alt="" srcset="">
            <span>CSS</span>
        </div>

        <div class="small_card">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png" alt="" srcset="">
            <span>JavaScript</span>
        </div>

        <div class="small_card">
            <img src="https://img.icons8.com/?size=80&id=Xf1sHBmY73hA&format=png" alt="">
            <span>TypeScript</span>
        </div>

        <div class="small_card">
            <img src="https://img.icons8.com/?size=80&id=l9a5tcSnBwcf&format=png" alt="" srcset="">
            <span>Angular</span>
        </div>

        <div class="small_card">
            <img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="" srcset="">
            <span>Git</span>
        </div>
        
    </div>

     <div class="card__soft">
        

            <div class="small_soft">
                    <p>Pensamento Crítico</p>

                    <p>Empatia</p>

                    <p>Disciplina</p>
                
                    <p>Resolução de Problemas</p>
            </div>

            <div class="small_soft">

                <p>Comunicação Efetiva</p>

                <p>Foco</p>

                <p>Adaptabilidade</p>
            
                <p>Aprendizado ágil</p>
                
            </div>

    
        </div>
    </div>

</div>
